body{
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
div #left-box{
    display: flex;
    flex-direction: column;
}
div #right-box{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    margin-top: 1em;
    border: none;
    border-bottom: 2px rgba(0, 0, 0, 30%) solid;
    outline: none;
}
button{
    height: 2.3em;
    width: 16em;
    border: none;
    background-color: rgba(0, 0, 0, 30%);
}
input:hover{
    transition: 1s;
    transform: scale(1.05);
}
button:hover{
    transition: 0.5s;
    color: white;
    background-color: rgba(0, 0, 0, 50%);
}
p{
    color: red;
    margin-left: 10px;
}
p:hover{
    transition: 0.5s;
    transform: scale(1.05);
}