{%load static%}
<html>
    <head><title>聊天室</title><link rel="stylesheet" type="text/css" href="{%static 'chatroom/index.css'%}"></head>
    <body>
        <div id="user-box">
            <div id="div-userid"><p id="p-userid"></p></div>
            <div id="users-list"></div>
        </div>
        <div id="chat-box">
            <div id="recv-box">
                <div id="msg-box">

                </div>
            </div>
            <div id="send-box">
                <textarea maxlength="800" cols="50" rows="120" required id="input-send" placeholder="消息"></textarea>
                <button id="button-send" onclick="Get()">确定发送</button>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function Get(){
            if(document.getElementById('input-send').value.split(' ').join('')!=''){
                if(window.XMLHttpRequest){
                    var xhr = new XMLHttpRequest()
                }else{
                    var xhr = new ActiveXObject('Microsoft.XMLHTML')
                }
                // xhr.onreadystatechange = function(){
                //     if(xhr.readyState==4&&xhr.status==200){
                //         console.log(xhr.response)
                //     }
                // }
                // console.log(document.getElementById('input-send').value)
                xhr.open('get','/chatroom/sendmsg/?msg='+document.getElementById('input-send').value)
                xhr.send()
                document.getElementById('input-send').value=''
            }
        }
        window.onload=function(){
            if(getcok('userid')){
                // document.getElementById('p-userid').innerText=getcok('userid')
                if(window.XMLHttpRequest){
                    var xhr = new XMLHttpRequest();
                }else{
                    var xhr = new ActiveXObject('Microsoft.XMLHTTP')
                }
                xhr.onreadystatechange=function(){
                    if(xhr.readyState==4&&xhr.status==200){
                        myjs = eval('('+xhr.response+')')
                        // console.log(myjs)
                        usernum=0
                        for(var i in myjs.users){
                            usernum++
                        }
                        document.getElementById("p-userid").innerHTML='你好&nbsp;'+myjs['username']
                        var p_user = document.getElementsByClassName("user")
                        var p_msg = document.getElementsByClassName('msg')
                        if(p_user.length>0){
                            var a = new Array()
                            var b = new Array()
                            var d = new Array()
                            var e = new Array()
                            var c = 0
                            for(var i = 0;i<p_user.length;i++){
                                a[i]=p_user[i].innerHTML
                            }
                            for(var i in myjs.users){
                                b[c]=i
                                c++
                            }
                            for(var i =0;i<p_msg.length;i++){
                                d[i]=p_msg[i].innerHTML.split(' ').join('')
                            }
                            c=0
                            for(var i in myjs.msgs){
                                e[c]=i
                                c++
                            }
                            if(equar(a,b)&&equar(d,e)){
                                return
                            }else{
                                var html='<p class="user">在线客户端:</p>'
                                for(var i in myjs.users){
                                    html+='<p class="user">'+i+'</p>'
                                }
                                // console.log(html)
                                document.getElementById('users-list').innerHTML=html
                                html=''
                                for(var i in myjs.msgs){
                                    var name = i.split(':')[1]
                                    var msg = myjs.msgs[i]
                                    html+='<p class="msg">'+name+': '+msg+'</p>'
                                }
                                document.getElementById('msg-box').innerHTML=html
                            }
                        }else{
                            var html='<p class="user">在线客户端:</p>'
                            for(var i in myjs.users){
                                html+='<p class="user">'+i+'</p>'
                            }
                            // console.log(html)
                            document.getElementById('users-list').innerHTML=html
                            html=''
                            for(var i in myjs.msgs){
                                var name = i.split(':')[1]
                                var msg = myjs.msgs[i]
                                html+='<p class="msg">'+name+': '+msg+'</p>'
                            }
                            document.getElementById('msg-box').innerHTML=html
                        }
                    }
                }
                var st = setInterval(function(){
                    xhr.open('get','/chatroom/getinfor',true)
                    xhr.send()
                },1000)
            }else{
                window.location.href='/login/'
            }
        }
        function getcok(name){
            if(document.cookie){
                var strcookie = document.cookie.split(' ').join('')
                var arrcookie = strcookie.split(';')
                for(var i = 0;i<arrcookie.length;i++){
                    var arr = arrcookie[i].split('=')
                    if(arr[0]==name)return arr[1]
                }
            }else return ''
        }
        function equar(a, b) {
            // 判断数组的长度
            if (a.length !== b.length) {
                return false
            } else {
                // 循环遍历数组的值进行比较
                for (let i = 0; i < a.length; i++) {
                    if (a[i] !== b[i]) {
                        return false
                    }
                }
                return true;
            }
        }
    </script>
</html>