{%load static%}
<html>
    <head><title>注册</title><link rel="stylesheet" type="text/css" href="{%static 'login/regist.css'%}"></head>
    <body>
        <div id="left-box">
            <form>
                <input id="username" required placeholder="用户名" type="text">
                <input id="account" required placeholder="账号" type="text">
                <input id="password" required placeholder="密码" type="text">
            </form>
            <button id="button-regist" onclick="Get()">注册</button>
            <button id="button-return" onclick="javascript:history.back(-1)">返回</button>
            <h4 id="infor" style="visibility: hidden;"></h4>
        </div>
        <div id="right-box">
            <p style="visibility:hidden;" id="p-username">用户名长度需小于8字符</p>
            <p style="visibility:hidden;" id="p-account">账号为8位数字</p>
            <p style="visibility:hidden;" id="p-password">3</p>
        </div>
        <script>
            function Get(){
                if(Check()){
                    if(window.XMLHttpRequest){
                        var xhr = new XMLHttpRequest()
                    }else{
                        var xhr = new ActiveXObject('Microsoft.XMLHTTP')
                    }
                    xhr.onreadystatechange=function(){
                        if(xhr.readyState==4&&xhr.status==200){
                            var json = eval("("+xhr.response+")")
                            var infor = document.getElementById('infor')
                            infor.innerHTML=json.information
                            infor.style.visibility='visible'
                            // if(json.state){
                            //     var infor = document.getElementById('infor')
                            //     infor.innerText=json.information
                            //     infor.style.visibility='visible'
                            // }else{
                            //     var infor = document.getElementById('infor')
                            //     infor.innerText=json.information
                            //     infor.style.visibility='visible'
                            // }
                        }
                    }
                    var username = document.getElementById('username').value.split(' ').join('')
                    var account = document.getElementById('account').value.split(' ').join('')
                    var password = document.getElementById('password').value.split(' ').join('')
                    xhr.open('get','/regist/?username='+username+'&account='+account+'&password='+password,true)
                    xhr.send()
                }else{
                    return 0
                }
            }
            function Check(){
                var username = document.getElementById('username').value.split(' ').join('')
                var account = document.getElementById('account').value.split(' ').join('')
                var password = document.getElementById('password').value.split(' ').join('')
                // console.log(username)
                var flag = true
                document.getElementById('p-username').style.visibility='hidden'
                document.getElementById('p-account').style.visibility='hidden'
                if(username.length>8){
                    document.getElementById('p-username').style.visibility='visible'
                    Clear()
                    flag=false
                }
                if(!Isnum(account)||account.length!=8){
                    document.getElementById('p-account').style.visibility='visible'
                    Clear()
                    flag=false
                }
                if(flag)return 1
                else return 0
            }
            function Clear(){
                document.getElementById('username').value=''
                document.getElementById('account').value=''
                document.getElementById('password').value=''
            }
            function Isnum(str){
                if(Number(str)){
                    return 1
                }else return 0
            }
        </script>
    </body>
</html>