body{
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content:center; */
    /* align-items: center; */
    flex-direction: row;
}
#user-box{
    height: 95%;
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 10px rgba(0, 0, 0, 50%) solid;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 30%);
}
#chat-box{
    height: 95%;
    width: 75%;
    display: flex;
    flex-direction: column;
    border: 10px rgba(0, 0, 0, 50%) solid;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 30%);
}
#recv-box{
    display: flex;
    height: 70%;
    width: 100%;
    flex-direction: column;
    padding-top: 3%;
    padding-left: 3%;
    padding: 3% 3% 1% 3%;
}
#msg-box{
    display: flex;
    flex-direction:column;
    /* justify-content: end; */
    width: 94%;
    height: 96%;
    border-radius: 10px;
}
#send-box{
    display: flex;
    height: 30%;
    width: 100%;
    flex-direction: column;
}
#input-send{
    width: 100%;
    /* height: 80%; */
    padding: 0 2%;
    font-size: 24px;
    /* background-color: rgba(0, 0, 0, 30%); */
    outline: none;
    border-radius: 5px;
}
#button-send{
    background-color: red;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 5px;
}
#users-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#p-userid{
    text-align: center;
    color: white;
    font-size: 16px;
    font-style: normal;
}
.user{
    margin-left: 1em;
    color: white;
    font-size: 14px;
    
}