{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Free Download</title>
        <link rel="stylesheet" type="text/css" href="{%static 'download/index.css'%}">
    </head>
    <body>
        <div class="Head">
            <div class="img">&nbsp;</div>
            <div class="home" id="active"><a>Home</a></div>
            <div class="download"><a href="Download">Download</a></div>
            <div class="about"><a>About</a></div>
        </div>
        <div class="Body">
            <div class="back">
                <div id="title"><h1>Information</h1></div>
                <p>No More Information</p>
            </div>
        </div>
        <div class="Tail">

        </div>
    </body>
</html>